:root {
  --clr-black: #000;
  --clr-bg-grey: rgba(193, 193, 193, 0.5);
  --clr-bg-pokedex: #fb6c6c;
  --clr-bg-fire: #ffa756;
  --clr-fire: #fb761a;
  --clr-bg-water: #58abf6;
  --clr-water: #498fda;
  --clr-bg-bug: #498fda;
  --clr-bug: #8cb332;
  --clr-poison: #a554cc;
  --clr-bg-electric: #f2cb55;
  --clr-electric: #edd431;
  --clr-bg-ground: #f78551;
  --clr-ground: #de7748;
  --clr-bg-fighting: #eb4971;
  --clr-fighting: #d04064;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gantari', sans-serif;
  background: var(--clr-bg-grey);
}

#types img {
  height: 15px;
}

.pokemonContainer {
  max-width: 450px;
  position: relative;
}

.headlineContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  font-size: 52px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  mask-image: linear-gradient(white 0, transparent 60%);
}

#headline {
  color: var(--clr-bg-pokedex);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#pokedex {
  min-height: 40vh;
  width: 100%;
  background-color: var(--clr-bg-pokedex);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headercontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.imgContainer {
  position: relative;
}

#pokemonImg {
  height: 120px;
  margin-right: 40px;
}

.circle {
  background-color: transparent;
  box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  position: absolute;
  top: 10px;
  height: 120px;
  width: 120px;
  left: 10px;
}

.pokemonOverview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#pokemonId {
  color: var(--clr-black);
  font-weight: 600;
}

.infoContainer {
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  min-height: 500px;

  background: #fff;
}
