:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-bg-grey: rgba(193, 193, 193, 0.95);
  --clr-bg-pokedex: #fb6c6c;
  --clr-bg-fire: #ffa756;
  --clr-fire: #fb761a;
  --clr-bg-water: #58abf6;
  --clr-water: #498fda;
  --clr-bg-bug: #498fda;
  --clr-bug: #8cb332;
  --clr-poison: #a554cc;
  --clr-bg-electric: #f2cb55;
  --clr-electric: #edd431;
  --clr-bg-ground: #f78551;
  --clr-ground: #de7748;
  --clr-bg-fighting: #eb4971;
  --clr-fighting: #d04064;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gantari', sans-serif;
  background: var(--clr-bg-grey);
}

.content {
  display: flex;
  justify-content: space-between;
}

/* ----------------------------------

              POKEMON CARD

------------------------------------*/

.allPokemonContainer {
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 25px 0;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background: var(--clr-bg-grey);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

#pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 495px;
}

.pokemonCard {
  display: flex;
  justify-content: space-between;
  height: 105px;
  width: 280px;
  padding: 15px;
  margin: 12px;
  border-radius: 10px;
  background-color: var(--clr-white);
}

.type img {
  height: 15px;
}

.pokemonImgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
  margin-right: -27px;
}

.pokemonImg {
  height: 100px;
  width: 100px;
}

.roundShadow {
  height: 3px;
  width: 80px;
  filter: blur(5px);
  border-radius: 50%;
  background-color: var(--clr-black);
}

.typeStyling {
  display: flex;
}

/* ----------------------------------

                POKEDEX

------------------------------------*/

#types img {
  height: 15px;
}

.pokedexContainer {
  position: relative;
}

.wrapper {
  position: fixed;
  right: 0;
  width: 450px;
  margin-right: 35px;
}

.headlineContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  font-size: 52px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  mask-image: linear-gradient(white 0, transparent 60%);
}

#headline {
  color: var(--clr-bg-pokedex);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#pokedex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  border-radius: 15px;
  color: white;
}

.headercontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.imgContainer {
  position: relative;
}

#pokemonImg {
  height: 120px;
  width: 120px;
  margin-right: 40px;
  margin-left: 50px;
}

.circle {
  background: transparent;
  box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 55px;
  height: 120px;
  width: 120px;
}

.pokemonOverview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 50px;
}

#pokemonId {
  color: var(--clr-black);
  font-weight: 600;
}

.pokemonTypes {
  display: flex;
  margin: 5px 0;
  gap: 10px;
}

.type {
  padding: 3px 7px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--clr-white);
}

.infoContainer {
  border-radius: 40px 40px 15px 15px;
  margin-top: -40px;
  height: 55vh;
  overflow: auto;
  background: #fff;
}
