:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-bg-grey: #c1c1c1f2;
  --clr-bg-grey-2: #c1c1c160;
  --clr-bg-hover: #8c8c8c;
  --border-radius: 10px;
  --border-radius-xl: 35px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gantari', sans-serif;
  background: var(--clr-bg-grey);
  min-height: 100vh;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

/* ----------------------------------

            NAVBAR

------------------------------------*/
.logoContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  position: relative;
  margin-top: -7px;
  font-family: 'Pokemon Solid';
  color: var(--clr-white);
  text-shadow: 1px 1px 1px var(--clr-black), 1px -1px 1px var(--clr-black),
    -1px 1px 1px var(--clr-black), -1px -1px 1px var(--clr-black);
  padding: 0 10px;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--clr-bg-grey);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.searchBar {
  border: none;
  border-radius: calc(var(--border-radius) - 5px);
  outline: none;
  width: 350px;
  height: 35px;
  margin: 0 15px;
  padding-left: 15px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.languageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#english {
  height: auto;
  width: 25px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  filter: brightness(1);
  margin: 5px;
  cursor: pointer;
}

#german {
  height: auto;
  width: 25px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  filter: brightness(0.5);
  margin: 5px;
  cursor: pointer;
}

/* ----------------------------------

              POKEMON CARD

------------------------------------*/

.allPokemonContainer {
  position: relative;
}

.pokemonLoader {
  margin-right: 495px;
  display: flex;
  justify-content: center;
}

#pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 495px;
  margin-left: 30px;
}

.pokemonCard {
  display: flex;
  justify-content: space-between;
  height: 105px;
  width: 280px;
  padding: 15px;
  margin: 12px;
  background-color: var(--clr-white);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition-duration: 100ms;
  cursor: pointer;
}

.pokemonCard:hover {
  border: 1px solid var(--clr-bg-hover);
}

.pokemonCard:hover .pokemonImgWrapper {
  transform: scale(1.1);
}

.type img {
  height: 15px;
  width: 100%;
}

.pokemonImgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
  margin-right: -27px;
}

.pokemonImg {
  height: 100px;
  width: 100px;
}

.roundShadow {
  height: 3px;
  width: 80px;
  filter: blur(5px);
  border-radius: 50%;
  background-color: var(--clr-black);
}

.typeStyling {
  display: flex;
}

/* ----------------------------------

               POKEDEX MENU

------------------------------------*/
.pokedexMenu {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
}

.pokedexMenu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 90%;
}

.pokedexMenu ul li {
  cursor: pointer;
  text-overflow: ellipsis;
  padding: 10px 0;
  height: 40px;
  width: 33%;
  text-align: center;
}

.pokedexMenu ul li:hover {
  text-decoration: underline;
}

.active {
  background-color: var(--clr-white);
  color: black;
  font-weight: 600;
  position: relative;
  text-decoration: underline;
  font-size: 18px;
}

.left::before {
  content: '';
  position: absolute;
  left: -18.5%;
  top: 0;
  height: 75px;
  width: 30px;
  background: var(--clr-white);
  border-radius: var(--border-radius-xl) 0 0 0;
}

.right::after {
  content: '';
  position: absolute;
  right: -18.5%;
  top: 0;
  height: 75px;
  width: 30px;
  background: var(--clr-white);
  border-radius: 0 var(--border-radius-xl) 0 0;
}

.middle::after,
.middle::before {
  content: '';
  border-radius: 0;
  background: transparent;
  height: 40px;
}

/* ----------------------------------

                POKEDEX

------------------------------------*/

.backBtn {
  display: none;
}

#types img {
  height: 15px;
  width: 100%;
}

.pokedexContainer {
  position: relative;
  display: block;
}

.wrapper {
  position: fixed;
  right: 30px;
  width: 450px;
  margin-top: 11px;
}

.headlineContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  font-size: 52px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  mask-image: linear-gradient(white 0, transparent 60%);
  -webkit-mask-image: linear-gradient(white 0, transparent 60%);
}

#headline {
  color: var(--clr-white);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#pokedexHeader {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 40px;
  height: 300px;
  border-radius: var(--border-radius);
  color: white;
}

.headercontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.imgContainer {
  position: relative;
}

#pokemonImg {
  height: 120px;
  margin-right: 40px;
  margin-left: 50px;
}

.circle {
  background: transparent;
  box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 55px;
  height: 120px;
  width: 120px;
}

.pokemonOverview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 50px;
}

#pokemonId {
  color: var(--clr-black);
  font-weight: 600;
}

h2 {
  font-size: 28px;
}

.pokemonTypes {
  display: flex;
  margin: 5px 0;
  gap: 5px;
}

.type {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 7px;
  border-radius: calc(var(--border-radius) - 5px);
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--clr-white);
}

.positionLoader {
  position: fixed;
  top: 300px;
  right: 250px;
  z-index: -1;
}

.hide {
  display: none !important;
}

/* ----------------------------------

          POKEDEX INFO

------------------------------------*/

.infoContainer {
  border-radius: var(--border-radius-xl) var(--border-radius-xl)
    var(--border-radius) var(--border-radius);
  margin-top: -40px;
  padding: 30px;
  height: 45vh;
  overflow: scroll;
  background: #fff;
}

/* ----------------------------------

          POKEDEX STATS

------------------------------------*/

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table td,
table th {
  padding: 3px 2px;
}

table tbody td {
  font-size: 14px;
  width: 33%;
  vertical-align: middle;
  line-height: 1.5;
}

table.blueTable tbody td:nth-last-of-type(even) {
  width: 10%;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: var(--clr-black);
  text-align: left;
}

.bar {
  height: 4px;
  background-color: var(--clr-black);
  border-radius: var(--border-radius);
}

#typeDefenseContainer h4 {
  margin: 15px 0 10px 0;
}

#typeDefense {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.typeDefContainer {
  margin: 5px 15px 5px 0px;

  font-size: 14px;
}

.typeIcon {
  background-color: black;
  padding: 4px;
  height: 25px;
  width: 25px;
  border-radius: calc(var(--border-radius) / 2);
}

.typeDef {
  text-align: center;
  padding: 4px;
}

/* ----------------------------------

          POKEDEX ABOUT

------------------------------------*/

#textCurrentPokemon {
  padding-bottom: 10px;
}

.pokedexData tbody td:first-child {
  width: 25%;
  padding: 4px 0;
}
.pokedexData tbody td:last-child {
  width: 70%;
  padding: 7px 0;
}

td span {
  font-size: 12px;
}

.weaknessIcons {
  margin-right: 5px;
  vertical-align: sub;
}

/* ----------------------------------
************************************
        POKEDEX EVOLUTION
************************************
------------------------------------*/

.evolution {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.evoBg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.evoPokemon {
  position: relative;
}

.evoName {
  z-index: 2;
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  font-size: 52px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  color: white;
  mask-image: linear-gradient(black 0, transparent 70%);
  -webkit-mask-image: linear-gradient(black 0, transparent 70%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.evoImg {
  background-color: var(--clr-bg-grey-2);
  border-radius: 100%;
  box-shadow: 0 0 20px var(--clr-bg-grey);
  z-index: 999;
}

#evolutionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.evoImg img {
  height: 100px;
  width: 100px;
}

.evolution:hover .evoImg,
.evolution:hover .evoName {
  transform: scale(1.05);
}

.levelUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./img/downArrow.png') no-repeat center/90%;
  height: 100px;
  width: 130px;
}

.levelUpContainer span {
  margin-bottom: 25px;
  font-weight: 900;
}

.evoArrow {
  height: 100px;
  width: 150px;
}

/* ----------------------------------

          PRELOADER

------------------------------------*/

#preLoader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--clr-bg-grey);
  /* radial-gradient(var(--clr-bg-hover), var(--clr-bg-fighting)); */
  overflow: hidden;
  z-index: 999;
}

.slideToTop {
  animation: slideToTop 1000ms;
  animation-fill-mode: forwards;
}

#preLoader img {
  height: 50%;
  animation: pulse 2.5s ease-in-out infinite;
  -webkit-animation: pulse 2.5s ease-in-out infinite;
}

/* ----------------------------------

ARROW UP

------------------------------------*/
.mybutton {
  position: fixed;
  bottom: 60px;
  left: 5px;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 999;
}

.mybutton img {
  height: 40px;
  width: 100%;
}

.mybutton:hover img {
  transform: scale(1.25);
}

/* ----------------------------------

ANIMATIONS

------------------------------------*/

@keyframes slideToTop {
  from {
    top: 0;
  }
  to {
    top: -1000px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.5) rotate(3deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.5) rotate(-6deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.5) rotate(3deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.5) rotate(-6deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.slide-out {
  animation: slideOut ease-in-out 0.35s;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  0% {
    right: 30px;
  }
  100% {
    right: -550px;
  }
}

.slide-in {
  animation: slideIn ease-in-out 0.35s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    right: -550px;
  }
  100% {
    right: 30px;
  }
}

/* *****************
********************
        LOADER
********************
********************/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* *****************
********************
       SCROLLBAR
********************
********************/
::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  margin-block: 30px;
  border-radius: 100vw;
}

@supports (scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1)) {
  * {
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
    scrollbar-width: auto;
  }
}
